section(class="canvas front" id="front")

    div(class="content")

        h2 Bob & Shirley Says:
        p(style="text-align: center;") stay safe, stay home, stay dancing <br><br> Help solve the PPE problem donate <a href="https://baggu.com/products/mask-donation-20">here</a> to send n95 masks directly to hospitals!
        h5 Fernelly DJ set <br>[[ Thursday April 2, 8pm EST ]]
        p <a href="https://zoom.us/j/118778495" target="_blank" class="myButton"> Zoom Video Stream </a>
        unmute on twitch below for audio:
        <iframe src="https://player.twitch.tv/?channel=flumperfern" frameborder="0" allowfullscreen="true" scrolling="no" width="300"></iframe><a href="https://www.twitch.tv/flumperfern?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;"></a>
        <img src="/assets/images/global/_link/fernelly.jpg" width="300">
        p Support the artists and labels that put the music out! Venmo @fernelly

        a(href="mailto:bobshirleysays@gmail.com") bobshirleysays@gmail.com
