section(class="canvas front" id="front")

    div(class="content")

        h2 Bob & Shirley Says:

        div

            p Livestream from Gabri <br><br> stay safe, stay home, stay dancing

            <iframe src="https://player.twitch.tv/?flumperfern&parent=streamernews.example.com" height="<height>" width="<width>" frameborder="<frameborder>" scrolling="<scrolling>" allowfullscreen="<allowfullscreen>"></iframe>

            a(href="mailto:bobshirleysays@gmail.com") bobshirleysays@gmail.com
