section(class="canvas front" id="front")

    div(class="content")

        h2 Bob & Shirley Says:
        p stay safe, stay home, stay dancing
        h5 Breslin - FLANGER MAGAZINE [[ Saturday March 28, 12pm EST ]]
        p <a href="https://zoom.us/j/605470498" target="_blank" class="myButton"> Zoom Video Stream </a>

        <iframe src="https://player.twitch.tv/?channel=flumperfern" frameborder="0" allowfullscreen="true" scrolling="no" width="300"></iframe><a href="https://www.twitch.tv/flumperfern?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;"></a>
        <img src="https://f4.bcbits.com/img/a4292409228_10.jpg" width="300">
        p Support the artists and labels that put the music out! Order it here <a href="https://www.flangermagazine.com/">here</a>
        p <q>Breslin is the most recent release by artist Chris Bush aka Flanger Magazine (see Caboladies/Flower Man & Equipment Pointed Ankh) and in my humble opinion one of the most successful attempts at blending acoustic and synthesized sound.  Bush has been around in the modular and noise world for years sharing release with Oneohtrix Point Never, Robert Beatty and more…. Honestly none of that shit matters.  I clean my house to this record and its sounds I can only describe as “natural.”  Pull up a chair, joint, mushroom, or drink and chill out. </q>

        a(href="mailto:bobshirleysays@gmail.com") bobshirleysays@gmail.com
