section(class="canvas front" id="front")

    div(class="content")

        h2 Bob & Shirley Says:
        p(style="text-align: center;") stay safe, stay home, stay dancing <br><br> Help get PPE to the frontlines where it makes a real difference, donate <a href="https://www.gofundme.com/f/gx6gs-a-cause-i-care-about-needs-help">here</a>
        h5(style="text-align: center; margin-top: 0em;") SpaceX - DM-2 Humans from USA -> Space #2 <br>[[ Saturday May 30, 3:22pm EST ]]
        p <a href="https://zoom.us/j/93836508434" target="_blank" class="myButton"> Zoom Video Stream </a>
        div Watch Youtube NASA Stream:
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cXX6jgeP-5I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <img src="https://thumbs.gfycat.com/RightEvenEchidna-size_restricted.gif" width="300">
        a(href="mailto:bobshirleysays@gmail.com") bobshirleysays@gmail.com
