section(class="canvas front" id="front")

    div(class="content")

        h2 Bob & Shirley Says:
        p(style="text-align: center;") stay safe, stay home, stay dancing <br><br> Help solve the PPE problem donate <a href="https://baggu.com/products/mask-donation-20">here</a> to send n95 masks directly to hospitals!
        h5(style="text-align: center;") Gabri Album<br>[[ Saturday April 4, 12pm EST ]]
        p <a href="https://zoom.us/j/532978208" target="_blank" class="myButton"> Zoom Video Stream </a>
        div use youtube for audio stream below:
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Y86wEoki0Zs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <img src="/assets/images/global/_link/fernelly.jpg" width="300">
        p Support the artists and labels that put the music out! Venmo @fernelly

        a(href="mailto:bobshirleysays@gmail.com") bobshirleysays@gmail.com
