section(class="canvas front" id="front")

    div(class="content")

        h2 Bob & Shirley Says:

        div

            p Livestream from Gabri <br><br> stay safe, stay home, stay dancing

            div
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Y86wEoki0Zs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            br
            br
            a(href="mailto:bobshirleysays@gmail.com") bobshirleysays@gmail.com
