section(class="canvas front" id="front")

    div(class="content")

        h2 Bob & Shirley Says

        div

            p Livestream from <a target="_blank" href="https://nowadays.nyc/">Nowadays</a> Sunday March 15, 5pm - 7pm est. <br><br> stay safe, stay home, stay dancing

            div

                a(href="#section-2") Video Chat Link
                a(href="#section-3") Audio Stream Link

            p  <br>You will need to download the free Zoom.us app for desktop or phone: <a target="_blank" href="https://zoom.us/download#client_4meeting">here</a>

            a(href="mailto:bobshirleysays@gmail.com") bobshirleysays@gmail.com
