section(class="canvas front" id="front")

    div(class="content")

        h2 Bob And Shirley Says

        div

            p Watch Livestream from Nowadays, and more in coming days, stay safe, stay home, stay dancing

            div

                a(href="#section-2") Zoom Link
                a(href="#section-3") Stream Link

    +nav-1("section-1")
