section(class="canvas front" id="front")

    div(class="content")

        h2 Bob & Shirley Says:
        p stay safe, stay home, stay dancing

        div
            a(href="https://zoom.us/j/162127076" target="_blank") Dancers Stream
            <br>

        <iframe src="https://player.twitch.tv/?channel=flumperfern" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe><a href="https://www.twitch.tv/flumperfern?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;"></a>
        <img src="https://f4.bcbits.com/img/a2200554287_10.jpg" width="300">
        Suzanne Menzel's 1981 album “Goodbyes and Beginnings”
        Support the artists and labels that put the music out! Amazing reissue can be found <a href="https://frederiksbergrecords.bandcamp.com/album/goodbyes-and-beginnings">here</a>


        a(href="mailto:bobshirleysays@gmail.com") bobshirleysays@gmail.com
